.FormInvestment {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.FormInvestment > div {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}